<!DOCTYPE html>
<html lang="en">
<head>

     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b6d4a98af.js"></script>

    <title>Skmer Web</title>


</head>

<body>







<h1 class="text-center display-1 font-weight-bold" >SkmerWeb</h1>
<br>
<h2 class="text-center">Login to use SkmerWeb</h2>
<br>

{% if messages %}
    {% for message in messages %}
      <div class="{{ message.tags }} text-center">{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}

<br>

    <div class = "container-fluid col-md-2 col-md-offset-4"  >
        <form method="POST">
        {% csrf_token %}
        {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <div class="col-md-4 text-center">
            <button class="btn btn-primary " type="submit">Login</button></div>
        </form><br>
        Don't have an account? <a href="{% url "skmerSignup" %}" target="blank"><strong>register here</strong></a>!
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>